<form [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit(registerForm.value)">
    <input type="text" formControlName="firstName" placeholder="Enter first name">
    <br><br>
    <input type="text" formControlName="lastName" placeholder="Enter last name">
    <br><br>
    <input type="text" formControlName="email" placeholder="Enter email name">
    <br><br>
    <input type="text" formControlName="phone" placeholder="Enter phone name">
    <br><br>
    <button>Submit</button>
</form>

<h4>User Details</h4>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{ user.firstName | uppercase }}</td>
        <td>{{ user.lastName | lowercase }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
    </tr>
</table>

<br><br>

<h4>{{ cityName | append}}</h4>
<h4>{{ cityName | appendCli }}</h4>

<br><br>

<button (click)="makeApiCall()">Make Api Call</button>